<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <!-- 테스트 패키지의 로그 레벨 설정 -->
    <logger name="com.j30n.stoblyx" level="DEBUG"/>
    
    <!-- Spring Security 로그 레벨 설정 -->
    <logger name="org.springframework.security" level="DEBUG"/>
    
    <!-- Spring Test 로그 레벨 설정 -->
    <logger name="org.springframework.test" level="DEBUG"/>
    
    <!-- JPA 및 Hibernate 로그 레벨 설정 -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
</configuration> 